#home{
    background: #ffc107;
    color: #fff;
}

.caixa{
    padding: 60px 0;
    border: 1px solid #e5e5e5;
}


footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p a {
    margin: 5px 15px;
}

/******LOGIN*****/


/*****Planos*****/

#planos {
    background: #ffc107;
}

#planos h1{
    color: #fff;
    margin-bottom: 40px;
}

.card-columns {
    @include media-breakpoint-only (lg){
        columns-count: 4;
    }
}
